<%= turbo_frame_tag "service_booking_date_picker", class: "w-full min-w-0" do %>
  <div class="grid grid-cols-1 gap-8 lg:grid-cols-12 lg:items-start">
    <%= render "date_picker_region" %>
  </div>
<% end %>
