<div data-controller="modal" class="modal">
  <div class="modal-content">
    <button type="button" data-action="click->modal#close">X</button>

    <h2><%= title %></h2>

    <%= content %>
  </div>
</div>
